/* Define o estilo inicial da página */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Tela escura por padrão */
    transition: background-color 0.5s ease;
}

/* Container centralizando o interruptor */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo do interruptor */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* Interruptor branco por padrão */
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black; /* Botão escuro */
    transition: 0.4s;
    border-radius: 50%;
}

/* Estado ativado do interruptor */
input:checked + .slider {
    background-color: black; /* Interruptor escuro ao ser ativado */
}

input:checked + .slider:before {
    transform: translateX(26px);
    background-color: white; /* Botão fica branco ao ser ativado */
}